# ── API ──────────────────────────────────────────────────────
NEXT_PUBLIC_API_URL=http://localhost:5000/api

# ── Google OAuth ──────────────────────────────────────────────
# Get your Client ID from https://console.cloud.google.com
NEXT_PUBLIC_GOOGLE_CLIENT_ID="950170848378-mm3bbt4nf347i33essg5t6abtmf7kalh.apps.googleusercontent.com"

